*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
}

h2 {
  color: hotpink;
  font-family: cursive;
  font-size: 2rem;
}
.question {
  font-family: cursive;
  color: black;
  text-align: center;
}
.Show-Answer {
  color: white;
  background-color: hotpink;
  border-color: hotpink;
  border-radius: 10px;
  padding: 20px 30px;
  display: flex;
  box-align: center;
  margin: auto;
}

.html {
  color: grey;
  background-color: white;
  border-color: grey;
  border-radius: 30px;
  justify-content: space-evenly;
  position: absolute;
  display: flex;
  box-align: center;
  margin: auto;
}

.css {
  color: grey;
  background-color: white;
  border-color: grey;
  border-radius: 30px;
  justify-content: space-evenly;
  position: absolute;
  display: flex;
  box-align: center;
  margin: auto;
}

.flexbox {
  color: grey;
  background-color: white;
  border-color: grey;
  border-radius: 30px;
  justify-content: space-evenly;
  position: absolute;
  display: flex;
  box-align: center;
  margin: auto;
}

.positioning {
  color: grey;
  background-color: white;
  border-color: grey;
  border-radius: 30px;
  justify-content: space-evenly;
  align-items: baseline;
  position: absolute;
  display: flex;
  box-align: left;
  margin: auto;
}
.nav {
  background-color: red;
  position: fixed;
  bottom: 0;
}
